<div class="d-flex">
    <aside id="sidebar">
        <div class="sidebar-logo">
            <img src="/images/SCOOP.png" alt="Scope Logo" width="150px">
        </div>
        <ul class="sidebar-nav p-0">
            <li class="sidebar-header">
                Menu
            </li>
            <li id="dashboard" class="sidebar-item">
                <a href="/admin/dashboard" class="sidebar-link">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-header">
                Others
            </li>
            <li id="purchases" class="sidebar-item">
                <a href="/admin/purchases" class="sidebar-link">
                    <i class="material-icons">shopping_cart_checkout</i>
                    <span>Purchases</span>
                </a>
            </li>
            <li id="inventory" class="sidebar-item">
                <a href="/admin/inventory" class="sidebar-link">
                    <i class="material-icons">inventory</i>
                    <span>Inventory</span>
                </a>
            </li>
            <li id="sales" class="sidebar-item">
                <a href="/admin/sales" class="sidebar-link">
                    <i class="material-icons">request_quote</i>
                    <span>Sales</span>
                </a>
            </li>
            <li id="schedule" class="sidebar-item">
                <a href="/admin/schedule" class="sidebar-link">
                    <i class="material-icons">event</i>
                    <span>Schedule</span>
                </a>
            </li>
            <li id="menu" class="sidebar-item">
                <a href="/admin/menu" class="sidebar-link">
                    <i class="material-icons">restaurant</i>
                    <span>Menu</span>
                </a>
            </li>
        </ul>

        <div class="sidebar-footer">
            <div class="profile-container">
                <div class="profile-circle">
                    <!-- Profile picture will go here -->
                </div>
                <button id="logoutButton" class="logout-btn">
                    <span>Log Out</span>
                </button>
            </div>
        </div>
    </aside>

    <div class="main">
        <nav class="navbar navbar-expand">
            <button class="toggler-btn" type="button">
                <i class="material-icons">menu</i>
            </button>
            <div class="d-flex flex-column ms-4 welcome">
                <p class="mb-0">Welcome to Scope</p>
                <h1>Dashboard</h1>
            </div>
        </nav>

        <main class="p-3">
            <div class="container-fluid">
                <div class="mb-3 header">
                    <h5>Hello there,</h5>
                    <h1><strong>Admin</strong></h1>
                </div>

                <div class="bottom">
                    {{!-- schedule container --}}
                    <div class="left">
                        <div class="title">
                            <i class="material-icons">events</i>
                            <span>Schedule</span>
                        </div>
                        <div class="sched-container"></div>
                    </div>

                    {{!-- menu container --}}
                    <div class="right">
                        <div class="title">
                            <i class="material-icons">restaurant</i>
                            <span>Menu</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="/js/adminDashboard.js"></script>