<div class="d-flex">
    <aside id="sidebar">
        <div class="sidebar-logo">
            <img src="/images/SCOOP.png" alt="Scope Logo" width="150px">
        </div>
        <ul class="sidebar-nav p-0">
            <li class="sidebar-header">
                Menu
            </li>
            <li id="dashboard" class="sidebar-item">
                <a href="/admin/dashboard" class="sidebar-link">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-header">
                Others
            </li>
            <li id="purchases" class="sidebar-item">
                <a href="/admin/purchases" class="sidebar-link">
                    <i class="material-icons">shopping_cart_checkout</i>
                    <span>Purchases</span>
                </a>
            </li>
            <li id="inventory" class="sidebar-item">
                <a href="/admin/inventory" class="sidebar-link">
                    <i class="material-icons">inventory</i>
                    <span>Inventory</span>
                </a>
            </li>
            <li id="sales" class="sidebar-item">
                <a href="/admin/sales" class="sidebar-link">
                    <i class="material-icons">request_quote</i>
                    <span>Sales</span>
                </a>
            </li>
            <li id="schedule" class="sidebar-item">
                <a href="/admin/schedule" class="sidebar-link">
                    <i class="material-icons">event</i>
                    <span>Schedule</span>
                </a>
            </li>
            <li id="menu" class="sidebar-item">
                <a href="/admin/menu" class="sidebar-link">
                    <i class="material-icons">restaurant</i>
                    <span>Menu</span>
                </a>
            </li>
        </ul>

        <div class="sidebar-footer">
            <div class="profile-container">
                <div class="profile-circle">
                    <!-- Profile picture will go here -->
                </div>
                <button id="logoutButton" class="logout-btn">
                    <span>Log Out</span>
                </button>
            </div>
        </div>
    </aside>

    <div class="main">
        <nav class="navbar navbar-expand">
            <button class="toggler-btn" type="button">
                <i class="material-icons">menu</i>
            </button>
        </nav>

        <main class="p-3">
            <div class="container-fluid pb-5">
                <div class="row">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h1 class="header">Sales</h1>
                        </div>
                        <div class="col-6 d-flex justify-content-end gap-2">
                            <form class="d-flex" role="search" method="POST" action="/admin/sales" novalidate>
                                <div class="search-bar">
                                    <input class="form-control form-control-sm me-2 search" type="text" id="search"
                                        placeholder="Search" name="search" aria-label="Search" autocomplete="off"
                                        required value="{{lastSearchTerm}}">
                                    <span class="search-icon">
                                        <i class="material-icons">search</i>
                                    </span>
                                </div>
                            </form>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#addRecordsModal"
                                class="btn btn-light btn-sm hover-orange">
                                + Add Record
                            </a>
                        </div>
                    </div>

                    <div class="table-container table-responsive" style="max-height: 400px; overflow-y: auto;">
                        <table class="table table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Canteen</th>
                                    <th scope="col">Stall</th>
                                    <th scope="col">Sales Date</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Cash Collected</th>
                                    <th scope="col">Profit</th>
                                    <th scope="col" class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody id="results">
                                <tr id="no-purchases" style="display: none;">
                                    <td colspan="7" class="text-center">No Records Yet</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <div class="modal fade" id="addRecordsModal" tabindex="-1" aria-labelledby="addRecordsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-body">
                        <form action="/api/auth/admin/add/purchase" method="POST" id="purchaseForm" style="width: 80%;">
                            <div class="mb-6">
                                <label for="productName" class="form-label">PRODUCT NAME</label>
                                <input type="text" class="form-control" id="productName" name="productName" required>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label for="price" class="form-label">PRICE (EACH)</label>
                                    <div class="input-group">
                                        <span class="input-group-text">₱</span>
                                        <input type="text" class="form-control" id="price" name="price" pattern="^\d+(\.\d{1,2})?$" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="quantity" class="form-label">QUANTITY</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="quantity" name="quantity"
                                            required>
                                        <span class="input-group-text">pieces</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label for="MOP" class="form-label">MODE OF PAYMENT</label>
                                    <select class="form-select" id="MOP" name="MOP" required>
                                        <option selected disabled value=""></option>
                                        <option value="Cash">Cash</option>
                                        <option value="E-wallet/ Bank">E-wallet/ Bank</option>
                                        <option value="Credit">Credit (Accounts Payable)</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <label for="date" class="form-label">DATE</label>
                                    <input type="date" class="form-control" id="date" name="date" required>
                                </div>
                            </div>
                            <div class="button-container">
                                <button type="submit" class="btn btn-primary">Add Purchase</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/adminPurchases.js"></script>